<div class="container">

  <div class="layout_past_bookings">
    <div class="inner_layout_past_bookings">
      <h2>Upcoming grannies</h2>
      <p><em>Oops!</em>  It looks like you haven't booked any grannies yet.</p>
      <%= link_to "Book a granny", "#", class: "btn btn-flat align_right" %>
    </div>
     <%# <div class="notification">
        <img src='app/assets/images/logo_granny.png' class="avatar-large" />
      <div class="notification-content">
        <p><small>14th March</small></p>
        <p><strong>Auntie Mirabel</strong> - cooks wonderful lemon cake!</p>
      </div>
      <div class="notification-actions">
        <a href="#">Modify Booking <i class="fas fa-pencil-alt"></i></app/a>
        <a href="#">Cancel <i class="far fa-trash-alt"></i></a>
      </div> %>
  </div>

  <% current_user.bookings.each do |booking| %>
    <%= booking.reservation_at %>
    <%= booking.granny.first_name %>
  <% end %>
  <div class="layout_past_bookings">
    <div class="inner_layout_past_bookings">
        <h2>Past grannies</h2>
        <p>All the grannies you've <em>loved</em>.</p>
      </div>
      <div class="notification">
      <%= image_tag "logo_granny.png", class: "avatar-large"%>
      <div class="notification-content">
        <p><small>14th January</small></p>
        <p><strong>Auntie Mirabel</strong> - cooks wonderful lemon cake!</p>
      </div>
      <div class="notification-actions">
        <a href="#">Book again <i class="fas fa-pencil-alt"></i></a>
      </div>
    </div>
      <div class="notification">
        <%= image_tag "logo_granny.png", class: "avatar-large"%>
      <div class="notification-content">
        <p><small>14th January</small></p>
        <p><strong>Granny Marge</strong> - excellent drinking companion...</p>
      </div>
      <div class="notification-actions">
        <a href="#">Book again <i class="fas fa-pencil-alt"></i></a>
      </div>
    </div>
      <div class="notification">
        <%= image_tag "logo_granny.png", class: "avatar-large"%>
      <div class="notification-content">
        <p><small>14th January</small></p>
        <p><strong>Granny Eve</strong> - looks after your cats, miaouw!</p>
      </div>
      <div class="notification-actions">
        <a href="#">Book again <i class="fas fa-pencil-alt"></i></a>
      </div>
    </div>
</div>
